<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OICQ</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel='stylesheet prefetch' href='http://fonts.useso.com/css?family=Open+Sans:600'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="javascripts/jquery-1.12.1.js"></script>
	<script type="text/javascript" src="javascripts/jquery.validate.js"></script>
	<script tyoe="text/javascript" src="javascripts/md5.js"> </script>
	<script type="text/javascript">
		//alert("input[name='password']");
		$(document).ready(function () {
			$("#form_register").validate({
				rules:{
					user:{
						required:true,
						minlength:6
					},
					password:{
						required:true,
						minlength:6
					},
					confirmpassword:{
						equalTo:"#password"
					},
					email:{
						required:true,
						email:true
					}
				},
				submitHandler:function(form){
					var user = $(form.user).val();
					var password = hex_md5($(form.password).val());
					var email = $(form.email).val();
					$.support.cors = true;
					$.ajax({
						url:'/register',
						cache:false,
						type:'POST',
						data:{
							email:email,
							user:user,
							password:password
						},
						error:function (a,b,c) {
							alert("time out");
						},
						success:function(json) {
							var data = eval('('+json+')');
							if(data && data.msg == 'success') {
								alert('Success!');
								window.location.href = '/';
							} else alert(data);
						}
					});
				}
			});
			$("#form_login").validate({
				rules: {
					user: {
						required: true,
						minlength: 6
					},
					password: {
						required: true,
						minlength: 6
					}
				},
				submitHandler: function (form) {
					var user = $(form.user).val();
					var password = hex_md5($(form.password).val());
					$.ajax({
						url:'/login',
						cache:false,
						type:'POST',
						data:{
							user:user,
							password:password
						},
						error:function (a,b,c) {
							alert("time out");
						},
						success:function(json) {
							data = eval('('+json+')');
							if( data.msg == 'success') {
								window.location.href = '/chat';
							} else {
								$("#message").text(data.message);
							}
						}
					});
				}
			});
		});
	</script>
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>OICQ <span></span></h1>
			<div class="htmleaf-links">
				<a class="htmleaf-icon icon-htmleaf-home-outline" href="http://www.htmleaf.com/" title="jQuery之家" target="_blank"><span> jQuery之家</span></a>
				<a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="http://www.htmleaf.com/css3/ui-design/201508122403.html" title="返回下载页" target="_blank"><span> 返回下载页</span></a>
			</div>
		</header>
		<div class="login-wrap">
			<div class="login-html">
				<%if((typeof register_page) == "undefined" || register_page == "false") {%>
					<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
				<%} else {%>
					<input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Sign In</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
				<%}%>
				<div class="login-form">
					<div class="sign-in-htm">
						<form id="form_login" action="/login" method="POST" >
							<div class="group">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input" name="user">
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="pass" type="password" class="input" data-type="password" name="password">
							</div>
							<div class="group">
								<input id="check" type="checkbox" class="check" checked>
								<label for="check"><span class="icon"></span> Keep me Signed in</label>
							</div>
							<div class="group">
								<input type="submit" class="button" value="Sign In">
							</div>
							<div class="hr"></div>
							<div class="foot-lnk">
								<a href="#forgot">Forgot Password?</a>
							</div>
								<div class="note" id="message">
								</div>
						</form>
					</div>
					<div class="sign-up-htm">
						<form id="form_register" method="POST" action="/register">
							<div class="group">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input" name="user">
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="password" type="password" class="input" data-type="password" name="password">
							</div>
							<div class="group">
								<label for="pass" class="label">Repeat Password</label>
								<input id="pass" type="password" class="input" data-type="password" name="confirmpassword">
							</div>
							<div class="group">
								<label for="pass" class="label">Email Address</label>
								<input id="pass" type="text" class="input" name="email">
							</div>
							<div class="group">
								<input type="submit" class="button" value="Sign Up">
							</div>
							<div class="hr"></div>
							<div class="foot-lnk">
								<label for="tab-1">Already Member?</label>
							</div>
							<div class="note" id="message">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>